<html>
    <head>
        <link rel="stylesheet"  type="text/css"  href="../static/tc.css" >
        <meta charset="utf-8">
        <title>free room</title>
    </head>
    <body>
        <div id="login">
            <form action = "http://localhost:5000/login" method = "post">
                <p class="tip">login name:<input type = "text" name = "username" /></p>
                <p class="tip">pass word:<input type = "text" name = "password" /></p>
                <p><input type = "submit" value = "login" name = "login" />
                    <input type = "submit" value = "create" name = "create"/>
                </p>
            </form>
        </div>
    </body>
</html>